<!-- extend from base layout -->
{% extends "base/base.html" %}

{% block content %}

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>登录</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="loginForm" novalidate>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">用户名</label>
                            <input type="text" class="form-control" placeholder="用户名" id="username" required data-validation-required-message="请输入用户名.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email">密码</label>
                            <input type="text" class="form-control" placeholder="密码" id="password" required data-validation-required-message="请输入密码.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button id="user-login" type="submit" class="btn btn-success btn-lg">确认</button>
                        </div>

                        <div class="form-group col-xs-12">
                            <a href="register" class="btn btn-success btn-lg">注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}